/* Animations du site */

/*----Effets de flottaisons--Float elements */
@keyframes float {
  0% {
    transform: translate3d(6px, 6px, 0);
  }
  12% {
    transform: translate3d(0px, 6px, 0);
  }
  24% {
    transform: translate3d(6px, -4px, 0);
  }
  36% {
    transform: translate3d(6px, 0px, 0);
  }
  48% {
    transform: translate3d(-4px, -6px, 0);
  }
  60% {
    transform: translate3d(0px, -4px, 0);
  }
  72% {
    transform: translate3d(-8px, 6px, 0);
  }
  84% {
    transform: translate3d(-4px, 0px, 0);
  }
  100% {
    transform: translate3d(6px, 6px, 0);
  }
}

/*---Arrive des elements------*/
@keyframes move-up {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-down {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

/* Animation du titre H2*/
@keyframes FadeH2 {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}

/* Slider en boucle*/

/*----------------FIN DES ANIMATIONS--------------------*/

/* video avec logo devant*/

.banner {
  background-image: none;
  display: inline-block;
  position: relative;
  .banner__video {
    z-index: 1;
    margin-top: 0;
    width: 100%;
    animation: move-down 2s 300ms both;
  }
}
& .logo-img {
  position: absolute;
  z-index: 2;
  bottom: 30%;
  width: 50%;
  left: 25%;
  animation: move-up 2s 300ms both, float 6s 2s infinite ease-in-out;
}

/*slider swiper*/

.story #characters {
  margin: 6em;
  text-align: center;
  display: block !important;
  animation: move-up 2s 300ms;
}

.swiper-container {
  width: 80%;
  margin-bottom: 7em;
  overflow: hidden;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 500px;
}

/* Arrive de la vidieo*/

.banner__video {
  animation: move-up 2s 300ms both;
}

/* gestion de nuage*/
.story #place {
  position: relative;
  background-image: url("../images/Studio_Koukaki-image_place.png");
  animation: move-up 2s 300ms;
}

#place .big_cloud {
  height: 122px;
  top: 70px;
  right: 90px;
  transform: translateX(var(--posX));
}

#place .little_cloud {
  height: 55px;
  top: 250px;
  right: 500px;
  transform: translateX(var(--posX));
}
#place .big_cloud,
#place .little_cloud {
  position: absolute;
  filter: blur(12px);
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  z-index: 2;
}

/*Titre H2*/
.FadeH2 {
  position: relative;
  z-index: 1;
  animation: FadeH2 2s ease-in-out 1s alternate;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.Oscar {
  position: relative;
  padding: 150px 0 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 0;
  justify-content: center;
  align-items: center;
}

.Oscar-img {
  height: 100%;
}

.Oscar__title h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 3.2rem;
  text-align: left;
}

.Oscar img {
  height: 100%;
}

/* Section Oscar*/
/* Suppression des fleurs du pieds de page pour le déplacer dans la nouvelle section- */
.Oscar::before {
  content: url("../images/Sunflower.png");
  position: absolute;
  left: 4em;
  top: 0em;
}

.Oscar::after {
  content: url("../images/orchid.png");
  position: absolute;
  right: -4em;
  top: -3em;
}

.site-footer::before {
  content: "";
}
.site-footer::after {
  content: "";
}
